table.shop_table.woocommerce-checkout-review-order-table tfoot tr {
    display: flex;
    justify-content: space-between;
}
table.shop_table.woocommerce-checkout-review-order-table tr.woocommerce-shipping-totals.shipping {
    display: flex;
    flex-direction: column;
}
table.shop_table.woocommerce-checkout-review-order-table tr.woocommerce-shipping-totals.shipping td {
    padding-left: 0;
}
table.shop_table.woocommerce-checkout-review-order-table tr.woocommerce-shipping-totals.shipping #shipping_method li {
    justify-content: flex-start;
}